### BACKEND ###
/backend/*.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr
/backend/out
/backend/.idea
/backend/*.ser
/backend/mriduauction.iml

/backend/target/
/backend/!.mvn/wrapper/maven-wrapper.jar
/backend/!**/src/main/**/target/
/backend/!**/src/test/**/target/


### FRONTEND ###
/fronend/*.vscode/

# dependencies
/frontend/node_modules

# production
/frontend/build
